<div>
  @if (languages.length > 0) {
    <div>
      <gui-select
        label="Choose Language"
        uid="language"
        value="en"
        [options]="languages"
        labelField="label"
        valueField="code"
        (change)="onLanguageChanged($event)"
      ></gui-select>
    </div>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  @if (formDef) {
    <gui-form
      [formDef]="formDef"
      [data]="formData"
      [meta]="formMeta"
      [customWidgetLoaders]="customWidgetLoaders"
      [middlewares]="middlewares"
      [customValidators]="validators"
      [itemRenderers]="itemRenderers"
      [localization]="localization"
      [autocomplete]="'off'"
      [dependencies]="deps"
      [validateOn]="validateOn"
      (formHealth)="onFormHealth($event)"
      (formEvent)="onFormEvent($event)"
    ></gui-form>
  } @else {
    Loading...
  }
</div>
