<div>
  @if (languages.length > 0) {
    <div>
      <gui-select
        label="Choose Language"
        uid="language"
        value="en"
        [options]="languages"
        labelField="label"
        valueField="code"
        (change)="onLanguageChanged($event)"
      ></gui-select>
    </div>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  <gui-form
    [formDef]="formDef"
    [data]="formData"
    [widgetLoaders]="customWidgetLoaders"
    [middlewares]="middlewares"
    [validators]="validators"
    [itemRenderers]="itemRenderers"
    [localization]="localization"
    [dependencies]="deps"
    [validateOn]="validateOn"
    (formHealth)="onFormHealth($event)"
    (formEvent)="onFormEvent($event)"
  ></gui-form>
</div>
