<div>
  @if (languages.length > 0) {
    <div>
      <gui-select
        label="Choose Language"
        uid="language"
        value="en"
        [options]="languages"
        labelField="label"
        valueField="code"
        (change)="onLanguageChanged($event)"
      ></gui-select>
    </div>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  @if (config) {
    <gui-form
      [config]="config"
      [autocomplete]="'off'"
      (formHealth)="onFormHealth($event)"
      (formEvent)="onFormEvent($event)"
    ></gui-form>
  } @else {
    Loading...
  }
</div>
