{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "requirePragma": false,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 80,
        "parser": "markdown",
        "proseWrap": "preserve"
      }
    }
  ]
}
