{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "requirePragma": false
}
