/* You can add global styles to this file, and also import other style files */
@use '../../../libs/shared-vanilla/src/styles/index';

html, body {
  background-color: var(--gui-bg-default);
  font-family: system-ui, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

gui-tiny {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 990px;
  padding: 1rem;
}
