/* You can add global styles to this file, and also import other style files */
@use '../../../libs/shared-vanilla/src/styles/index';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Custom icons
.material-icons {
  font-family: 'Material Icons';
  font-size: medium;

  &-phone_callback::before {
    content: 'phone_callback';
  }

  &-alternate_email::before {
    content: 'alternate_email';
  }

  &-calendar_month::before {
    content: 'calendar_month';
  }

  &-chevron_right::before {
    content: 'chevron_right';
    font-size: 1.8rem;
  }

  &-chevron_left::before {
    content: 'chevron_left';
    font-size: 1.8rem;
  }
}

// List Item Renderer
.my-custom-class {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 12px;
  cursor: pointer;
  height: 100%;

  h2,
  p {
    margin: 0;
    padding: 0;
  }
}

.odd {
  background-color: dimgray;
}
.disabled {
  color: gray;
}
.selected {
  color: black;
  background-color: lightgray;
  font-weight: bold;
}
.focused {
  border: 2px solid black;
}
