<div class="properties-panel">
  <div class="properties-header">
    @if (widget()['type'] === '__form__') {
      <span class="properties-type">Form</span>
      <span class="properties-uid">Properties</span>
    } @else {
      <span class="properties-type">{{ widget()['type'] }}</span>
      <span class="properties-uid">#{{ widget()['uid'] }}</span>
    }
  </div>
  <div class="properties-form">
    @for (uid of [widget()['uid']]; track uid) {
      @for (group of propertyGroups(); track group.key) {
        <div class="prop-group">
          <button
            type="button"
            class="prop-group__header"
            [class.open]="isGroupOpen(group.key, group.defaultOpen)"
            (click)="toggleGroup(group.key, group.defaultOpen)"
          >
            <svg class="prop-group__arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 256 256">
              <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg>
            {{ group.label }}
          </button>
          @if (isGroupOpen(group.key, group.defaultOpen)) {
            <div class="prop-group__content">
              <gui-form
                [formDef]="group.formDef"
                [data]="propertiesData()"
                [widgetLoaders]="{}"
                [validators]="{}"
                [validateOn]="'eager'"
                (formEvent)="onFormEvent($event)"
              />
            </div>
          }
        </div>
      }
    }
  </div>
</div>
