.my-custom-class {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 12px;
  cursor: pointer;
  height: 100%;

  h2,
  p {
    margin: 0;
    padding: 0;
  }
}

.odd {
  background-color: dimgray;
}
.disabled {
  color: gray;
}
.selected {
  color: black;
  background-color: lightgray;
  font-weight: bold;
}
.focused {
  border: 2px solid black;
}
