/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: var(--gui-bg-default);
}

.gui-flex__widget {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
