@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  background-color: var(--gui-bg-default);
  font-family: system-ui, sans-serif;
  padding: 0;
  margin: 0;
}

.gui-widget-icon[data-icon]::before {
  content: attr(data-icon);
  font-family: 'Material Icons';
  font-size: var(--gui-font-lg);
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
