@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  background-color: #fff;
  color: #1a1a1a;
  font-family: system-ui, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 990px;
  padding: 1rem;
}

// Dark mode
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #23262f;
    color: #f2f3f5;
  }
}

// Custom icons
.material-icons {
  font-family: 'Material Icons';
  font-size: medium;

  &-phone_callback::before {
    content: 'phone_callback';
  }

  &-alternate_email::before {
    content: 'alternate_email';
  }

  &-calendar_month::before {
    content: 'calendar_month';
  }

  &-chevron_right::before {
    content: 'chevron_right';
    font-size: 1.8rem;
  }

  &-chevron_left::before {
    content: 'chevron_left';
    font-size: 1.8rem;
  }
}
