@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Custom icons
.material-icons {
  font-family: 'Material Icons';
  font-size: medium;

  &-phone_callback::before {
    content: 'phone_callback';
  }

  &-alternate_email::before {
    content: 'alternate_email';
  }

  &-calendar_month::before {
    content: 'calendar_month';
  }

  &-chevron_right::before {
    content: 'chevron_right';
    font-size: 1.8rem;
  }

  &-chevron_left::before {
    content: 'chevron_left';
    font-size: 1.8rem;
  }
}
