:host {
  flex: 1;
  display: flex;
}

.json-editor {
  flex: 1;
  border: 1px solid #334155;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  &:focus-within {
    border-color: #3b82f6;
  }
}

::ng-deep .monaco-editor {
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}
